.Carousel {
    position: relative;
}
.Carousel .carousel {
    position: absolute !important;
    bottom: 0;
}
 .carouselThumb {
    position: absolute;
    left: 0;
    bottom: 0;
}
/* .carousel-root {
    position: relative;
}
 .carousel {
    position: absolute;
    left: 0;
    bottom: 0;
} */
/* .carousel-root > .thumbs-wrapper > .thumbs{
    justify-content: center;
} */